/* .vitepress/theme/custom.css */
:root {
  --vp-c-brand-1: #ff0066;
  --vp-c-brand-2: #98003d;
  --vp-c-brand-3: #76002f;

  --vp-c-bg: #fafafa; /*BBDCE5*/
  --vp-c-bg-alt: #f6f6f7;
  --vp-c-bg-elv: #ffffff;
  --vp-c-bg-soft: #f6f6f7;
  --vp-c-content-bg: #f4f5f6;

  --vp-c-text-1: #3c3c43;
  --vp-c-text-2: #67676c;
  --vp-c-text-3: #929295;
}

:root.dark {
  --vp-c-bg: #0f1115;
  --vp-c-bg-alt: #050003;
  --vp-c-bg-elv: #000;
  --vp-c-bg-soft: #222;
  --vp-c-content-bg: #1a1c23;

  --vp-c-text-1: #dfdfd6;
  --vp-c-text-2: #98989f;
  --vp-c-text-3: #6a6a71;
}

body {
  font-weight: 450;
}

.dark body {
  font-weight: 400;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
